@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Oleo+Script&family=Poppins:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap');


     

h1{
     font-size: 90px;
     font-family: 'Bebas Neue', cursive;
}
.link-btn{
     width: 170px;
     height: 60px;
     font-size: 20px;
     background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
     border: none;
     border-radius: 10px;
}
.link-btn a{
     text-decoration: none;
     color: white;
}
.fa-shopping-cart{
     color: white;
     padding: 7px;
}